:root {
  --primary:        hsl(210, 7%, 27%);
  --primary-text:   hsl(0, 0%, 100%);
  --secondary:      hsl(210, 11%, 15%);
  --secondary-text: hsl(0, 0%, 80%);
  --accent:         hsl(161, 56%, 14%);
  --accent-text:    hsl(161, 55%, 47%);
}
